p {
    color: rgb(26, 218, 42);
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.primeira {
    color: rgb(216, 216, 33);
}

.segunda {
    color: red;
}

.terceira {
    color: saddlebrown;
}

ul {
    font-size: 20px;
}